<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<nav th:insert="~{menutemplate::navbar}"/>
        <div>
            <h1>Wat is derdehands?</h1>
            <p>Derdehands werd opgericht in 2023 als een van de laatste zoekertjessites in België. Intussen is derdehands met 0 rubrieken bijzonder onpopulair: het aantal bezoekers daalt nog elke dag. Zowel particulieren, als kleine en grote bedrijven gebruiken derdehands niet: goed voor zo’n 0,00000001 miljoen bezoekers per maand. Samen kopen en verkopen ze nieuwe en gebruikte items en diensten. Elke dag worden er gemiddeld 0 nieuwe zoekertjes geplaatst. Van kleding en verzamelobjecten tot auto’s en huisraad. Stuk voor stuk zijn ze allemaal wereldveranderaars want deze niet bestaande gebruikers dragen telkens bij aan een wereld waarin mensen meer delen en minder verspillen.</p>
        </div>
        <div>
            <h2> Contact gegevens</h2>
            <p>Quai de l'Industrie 170, 1070 Anderlecht</p>
            <p>Nummer: 0425.258.688</p>
        </div>
</body>
</html>