<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>details</title>
<style>
  th, td {
  border: 2px solid black;

}
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 35%;
}</style>
</head>
<body>
<nav th:insert="~{menutemplate::navbar}"/>
      <div>
        <table th:object="${Products}">

          <tr>
            <td>Naam</td>
            <td th:text="*{name}"></td>
          </tr>
          <tr>
            <td>Categorie</td>
            <td th:text="*{category}"></td>
          </tr>
          <tr>
            <td>Prijs</td>
            <td th:text="*{price}"></td>
          </tr>
          <tr>
            <td>Omschrijving</td>
            <td th:text="*{description}"></td>
          </tr>
          <tr>
            <td>Naam verkooper</td>
            <td th:text="*{username}"></td>
          </tr>
          <tr>
            <td>Email verkooper</td>
            <td th:text="*{email}"></td>
          </tr>


        </table>

      </div>

</body>
</html>