<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{menutemplate::header('index')}" >
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav th:insert="~{menutemplate::navbar}"/>

<div id="ProductTable">
    <table>
        <thead>
        <td>Name</td>
        <td>Price</td>
        <td>More info</td>
        </thead>
        <tbody>
        <tr th:each="products : ${Products}">
            <td><span th:text="${Products.name}"></span> </td>
            <td><span th:text="${Products.price}"></span></td>
            <td> <button th:href="@{/details/{id}(id= ${Products.id})}"> Details</button></td>

        </tr>
        </tbody>


    </table>

</div>

</body>
</html>