<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>index</title>

    <style>
        th, td {
            border: 2px solid black;

        }
        table {
            border: 2px solid black;
            border-collapse: collapse;
            width: 30%;
        }</style>
</head>
<body>

<nav th:insert="~{menutemplate::navbar}"/>

<div id="ProductTable">
    <table>
        <thead>
        <td>Name</td>
        <td>Price</td>
        <td>More info</td>
        </thead>
        <tbody>
        <tr th:each="products : ${Products}">
            <td><span th:text="${products.name}"></span> </td>
            <td><span th:text="${products.price}"></span></td>
            <td> <a class="btn" th:href="@{/details/{id}(id= ${products.id})}"> Details</a></td>

        </tr>
        </tbody>


    </table>

    <a th:href="@{/new}"><button>New Product</button></a>

</div>

</body>
</html>